* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  /*   background-color:#f9ead1; */
}
#head {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#intro p {
  font-size: 1.5rem;
  line-height: 1.5;
}
#container {
  position:relative;
  background-color: #faf8ef;
  width: 450px;
  margin: 0 auto;
  padding: 5px 50px;
}
h1 {
  display: inline;
  color: #776e65;
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: 2px;
}
p {
  color: #776e65;
  font-size: 1.4em;
}
#scoreBar {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
#score,
#best {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  background-color: #bbada0;
  height: 50px;
  margin: 0 3px;
  border-radius: 3px;
  line-height: 7rem;
  padding: 0 20px;
  font-weight: bold;
  color: #fff;
}
/*  伪元素设置的 absolute 也是根据最近的 position:relative 的父元素定位 */
#score::after {
  content: "SCORE";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #eee4da;
  line-height: 3rem;
  font-size: 0.5rem;
  font-weight: bold;
}
#best::after {
  content: "BEST";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #eee4da;
  font-weight: bold;
  line-height: 3rem;
  font-size: 0.5rem;
}

button {
  box-sizing: content-box;
  background-color: #8f7a66;
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  line-height: 30px;
}
button:hover {
  cursor: pointer;
}
#restart {
  display: inline-block;
}
#intro {
  display: flex;
  justify-content: space-between;
}

#game {
  position:relative;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  width: 450px;
  height: 450px;
  box-sizing: border-box;
  background-color: #bbada0;
  border-radius: 5px;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px;
  color: #fff;
  /*   border:2px #bbada0 solid; */
}

.item {
  background-color: #cdc1b4;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 4.8rem;
  font-weight: bold;
}
.item:not(.item[data-value = '0']){
  border:1px solid background-color;
  z-index:2;
}
.item[data-value ='mid'] {
  font-size: 3.5rem;
  background-color:#444;
}
.item[data-value ='big'] {
  font-size: 2.8rem;
  background-color:#444;
}
.item[data-value ='more-big'] {
  font-size: 2.2rem;
  background-color:#444;
}
.item[data-value="2"] {
  content:'2';
  background-color: #eee4da;
  color: #776e65;
}
.item[data-value="4"] {
  background-color: #ede0c8;
  color: #776e65;
}
.item[data-value="8"] {
  background-color: #f2b179;
}
.item[data-value="16"] {
  background-color: #f59663;
}
.item[data-value="32"] {
  background-color: #f67c5f;
}
.item[data-value="64"] {
  background-color: #f65e3b;
}
.item[data-value="128"] {
  background-color: #edcf72;
  font-size: 4rem;
}
.item[data-value="256"] {
  background-color: #edcc61;
  font-size: 4rem;
}
.item[data-value="512"] {
  background-color: #edc850;
  font-size: 4rem;
}
.item[data-value="1024"] {
  background-color: #edc53f;
  font-size: 3.5rem;
}
.item[data-value="2048"] {
  background-color: #edc22e;
  font-size: 3.5rem;
}

.moveTile{
  width:100px;
  height:100px;
  color:#fff;
  position:absolute;
  transition:left 100ms ease-in,top 100ms ease-in,visibility 5ms linear 100ms; 
}
.mergeTile{
  width:100px;
  height:100px;
  transform:scale(0);
  position:absolute;
  transition:transform 140ms cubic-bezier(0,.2,0,1.5),visibility 5ms linear 200ms; 
  color: #fff;
}
.newTile{
  width:100px;
  height:100px;
  transition:transform 200ms ease-in,visibility 5ms linear 250ms;
  transform:scale(0);
  position:absolute;
  color: #fff;
}

.mask{
  position:absolute;
  width:100%;
  height:100%;
  background-color:white;
  opacity:.4;
  top:0;
  left:0;
  z-index:50;
}

.gameover{
  width:100%;
  height:100%;
  font-size:5rem;
  position:absolute;
  z-index:100;
  color:#776f65;
  font-weight:bold;
  text-align:center;
  line-height:400px;
}
#again{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  top:280px;
  z-index:100;
  
}
.scoreAdd{
  position:absolute;
  color:black;
  font-size:2rem;
  opacity:.6;
  font-weight:bold;
  transition:all 1s ease-out;
}

#footer{
  margin-bottom:20px;
}
#footer > p{
  font-size:1.7rem;
}

.line{
  height:1px;
  width:80%;
  margin:30px auto;
  border-top:2px solid #cdc1b4;
}

.moveTile .hidden{
  visibility:hidden !important;
}
.mergeTile .hidden{
  transform:scale(1);
  visibility:hidden;
}
